.bloque{

    border: solid 1px black;
    display: block;
    justify-content: center;
    text-align: center;
    width: 1000px;
    margin: auto;
    }
    .blockflag{
    
      display: flex;
      border: solid 1px white;
      width: auto;
      height: auto;
      margin: 10px;
      justify-content: center;
    }
    .flag{
    
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      background-color: white;
      width: 200px;
      height: 100px;
    }
    .e1{
      background-color: red;
    }
    .e2{
    
      background-color: white;
    }
    .e3{
      
      background-color:green ;
    }
    
    .body{
      display: flex;
      justify-content: center;
    }
    .d1{
    
    display: block;
    border: solid 1px black;
    width: 200px;
    height: 300px;
    margin: 10px;
    padding: 5px;
    }
    .d2{
    
      display: block;
    border: solid 1px black;
    width: 200px;
    height: 300px;
    margin: 10px;
    padding: 5px;
    
    }
    
    .d3{
    
      display: block;
    border: solid 1px black;
    width: 200px;
    height: 300px;
    margin: 10px;
    padding: 5px;
    
    }
    img{
      width: 100px;
      height: 100px;
    }